body {
    margin: 0;
    overflow: hidden;
}

#blurred-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('./assets/backdrop.png');
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
    z-index: -1;
    filter: blur(5px);
    overflow: hidden;
}

#webgl-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    pointer-events: none;
    display: none;
    max-width: 250px;
    word-wrap: break-word;
    z-index: 1;
}

.tooltip-title {
    font-weight: bold;
    color: cyan;
}

.tooltip-sub {
    margin-bottom: 5px;
}

.tooltip-list {
    margin-top: 10px;
    padding-left: 20px;
}

.tooltip-list li {
    list-style-type: disc;
    margin-bottom: 5px;
}


.side-pane {
    position: fixed;
    display: flex;
    max-width: 30%;
    min-width: 200px;
    padding: 10px;
    border-radius: 5px;
    flex-direction: column;
    font-size: 14px;
    word-wrap: break-word;
    z-index: 1;
    grid-template-columns: 1fr
}

.side-pane-item {
    color: white;
    font-family: Arial, sans-serif;
    background: rgba(0, 0, 0, 0.7);
    padding: 8px;
    margin: 3px;
    border-radius: 5px;
    z-index: 1;
    display: flex;
}

#selected-item {
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

#filters {
    position: fixed;
    display: flex;
    right: 10px;
    flex-direction: column;
    align-items: flex-start;
}
